@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EvaluationComplete";
}

<h1>Thank you for your feedback!</h1>

<div>
    <a href="/Home/Index">Back to homepage</a>
</div>