@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>User's home page</h1>

<div>
    <a href="/User/Feedback/Evaluate">EVALUATE COURSES</a>
</div>
<p>

</p>
<div>
    <a href="/Home/Index">Back to homepage</a>
</div>