@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Training management</h1>
</div>

<div>
    <p>Choose how you want to login!</p>
    <p>
        <a href="/Admin/Default/Index">ADMIN</a>
    </p>
    <p>
        <a href="/User/Feedback/Index">USER</a>
    </p>
</div>